.all-students-container {
  display: flex;
  flex-wrap: wrap;
}

.each-student-container {
  width: 20%;
  margin: 0.07rem;
  padding: 2rem;
  background-color: #d1f2eb;
  color: black;
  flex-grow: 1;
}

.button-student-approve {
  display: flex;
  justify-content: center;
}

.button-student-approve:first-child {
  margin: 8px;
}
