body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: black;
}

.login-signup-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title-component {
  width: 100%;
  height: 20vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login-signup {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 55vw;
}

.form {
  width: 100%;
  margin-top: 2rem;
}

.form div {
  display: flex;
}

.form input {
  width: 100%;
  height: 0.6rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border: none;
  border-bottom: solid 0.1rem black;
  outline: none;
  font-size: 0.8rem;
}

.form input:focus {
  border: none;
  border-bottom: solid 0.1rem green;
  appearance: none;
  -webkit-appearance: none;
}

.form select {
  width: 100%;
  height: 2.3rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border: none;
  border-bottom: solid 0.1rem black;
  border-radius: 0%;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  font-size: 0.8rem;
}

.form select:focus {
  border-bottom: solid 0.1rem green;
}

.link-signup-connect {
  font-size: 0.9rem;
}

.valid {
  color: red;
  font-size: 1rem;
  justify-content: center;
  padding-top: 1vh;
}

/* SIGNUP FORM */

#address {
  width: 100%;
}

#cabinet,
#city {
  width: 70%;
}

#toque,
#zipCode {
  width: 30%;
}
