.mission-field, .mission-subfield {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.6;
}

.mission-subfield {
  font-weight: 400;
  text-transform: none;
  font-style: italic;
}
