.mission-page {
  width: 100vw;
  height: 4.8vh;
  background-color: #7accbc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-page-title {
  color: white;
  /* font-weight: 400; */
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
