.new-mission-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.title-new-mission {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-new-mission-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 55vw;
}

.form-new-mission {
  width: 100%;
  margin-top: 0.2rem;
}

.form-div {
  display: flex;
}

.form-div label {
  width: 10%;
  height: 0.6rem;
  padding: 0.7rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border-bottom: solid 0.07rem black;
  outline: none;
  font-size: 0.8rem;
  color: #777777;
}

.form-input-new-mission {
  width: 100%;
  height: 0.6rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border: none;
  border-bottom: solid 0.07rem black;
  outline: none;
  font-size: 0.8rem;
}

.form-input-new-mission:focus {
  border: none;
  border-bottom: solid 0.07rem green;
  appearance: none;
  -webkit-appearance: none;
}

.form-date-new-mission {
  margin-left: 0;
  width: 75%;
}

.form-textarea-new-mission {
  width: 100%;
  height: 20vh;
  padding: 0.7rem;
  margin: 1.4rem 0.5rem 0.5rem 0.5rem;
  border: solid 0.07rem black;
  outline: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  appearance: none;
  -webkit-appearance: none;
  resize: none;
  overflow: auto;
}


.form-select-new-mission {
  width: 100%;
  height: 2.3rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border: none;
  border-bottom: solid 0.07rem black;
  border-radius: 0%;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  font-size: 0.8rem;
}

.form-select-new-mission:focus {
  border-bottom: solid 0.07rem green;
}

