.all-missions-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.each-mission-container {
  width: 20%;
  margin: 0.1rem;
  padding: 2rem;
  background-color: #d1f2eb;
  color: black;
  flex-grow: 1;
}

.button-mission-more {
  display: flex;
  justify-content: center;
}

.button-mission-more:first-child {
  margin: 8px;
}
