.footer {
  background: #1fa792;
  color: white;
  /*width: 100vw;*/
  height: 4vh;
  display: flex;
  padding: 0.2rem;
}

.footer div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.footer div:first-child {
  justify-content: flex-start;
  padding-left: 0.5rem;
}

.footer div:last-child {
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.footer-legal-infos {
  cursor: pointer;
}
