.header {
  background: transparent;
  z-index: 100;
  color: #1fa792;
  /* width: 100vw; */
  height: 20vh;
  display: flex;
}

.header-site-logo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2.5rem;
  font-size: 0.8rem;
}

.logo-litta {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.header-site-logout {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
