.home-admin-menu {
  /* width: 100vw; */
  height: 38vh;
  display: flex;
  cursor: pointer;
}

.home-admin-menu-linkto-block1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-admin-menu-linkto {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-admin-menu div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-admin-studentlist {
  background-color: #7accbc;
}

.home-admin-studentlist p {
  color: #fff;
}


.home-admin-lawyerlist {
  background-color: #a1e5d8;
}

.home-admin-lawyerlist p {
  color: #fff;
}

.home-admin-fields {
  background-color: #8eddce;
}

.home-admin-fields p {
  color: #fff;
}
