.home-lawyer-missions {
  width: 100vw;
  height: 38vh;
  display: flex;
  cursor: pointer;
}

.home-lawyer-missions-linkto {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-lawyer-missions div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-lawyer-currentmissions {
  background-color: #a1e5d8;
}

.home-lawyer-oldmissions {
  background-color: #8eddce;
}
