.old-missions-container {
  display: flex;
  flex-wrap: wrap;
}

.each-mission-container {
  width: 20%;
  margin: 0.07rem;
  padding: 2rem;
  background-color: #d1f2eb;
  color: black;
  flex-grow: 1;
  text-align: center;
}

.old-missions-button {
  display: flex;
  justify-content: center;
  margin: 0.4rem;
}

.old-missions-button :first-child {
  margin: 0 0.4rem;
}

.old-missions-button :last-child {
  margin: 0 0.4rem;
}

.old-mission-block-title {
  /* line-height: 0.5; */
  margin-bottom: 1rem;
}

.styles_modal__gNwvD {
  width: 55vw;
  max-width: 55vw;
}
