body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  }

/* Stylise tous les liens de la page */
a {
	color: black;
}

.signup-content {
	width: 100vw;
	height: 100vh;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	text-align: center;
}

.title-component {
	width: 100%;
	height: 20vh;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Stylise la div qui contient le formulaire et qui permet de le centrer dans la page
-> le display flex te permet de mettre le justify content qui va centrer horizontalement le <form> */
.form-signup {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 55vw; /* Détermine la largeur du formulaire -> vw = viewport width -> 60% de la largeur de la fenêtre */	
}

/* Stylise le formulaire */
.form {
	width: 100%;
	margin-top: 2rem;
}

/* Stylise les divs qui contiennent les inputs
-> le display flex te permet mettre les inputs à l'intérieur côte à côte */
.form div {
	display: flex;
}

/* Stylise les inputs
-> le width 50% met la largeur de chaque input à 50% de la largeur du <form> */
.form input {
	width: 100%;
	height: 0.6rem;
	padding: 0.7rem;
	margin: 0.5rem;
	border: none;
	border-bottom: solid 0.1rem black;
	outline: none;	
	font-size: 0.8rem;		
}

.form input:focus {
	border: none;
	border-bottom: solid 0.1rem green;
	appearance: none;
	-webkit-appearance: none;	
}

/* Stylise le select pour lui donner toute la largeur du <form> */
.form select {
	width: 100%;
	height: 2.3rem;
	padding: 0.7rem;
	margin: 0.5rem;
	border: none;
	border-bottom: solid 0.1rem black;
	border-radius: 0%;
	appearance: none;
	-webkit-appearance: none;
	background-color: transparent;
	outline: none;
	font-size: 0.8rem;		
	
}

.form select:focus {
	border-bottom: solid 0.1rem green;
	
}

.form button {
	width: 8rem;
	height: 2rem;
	margin-top: 2rem;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 0%;
	text-transform: uppercase;
	outline: none;
	box-shadow: none;
}

.link-signup-connect {
	font-size: 0.9rem;
}

/* Stylise certains inputs grâce à leur id */

#address {
	width: 100%;
}

#cabinet,
#city {
	width: 70%;
}

#toque,
#zipCode {
	width: 30%;
}